venv/
.env/
.env.
dist/
build/
*.egg-info/
*.log
*.sqlite3
.DS_Store
Thumbs.db
*.swp
*.swo
node_modules/
dist/
*.tsbuildinfo
.vscode/
.idea/
*.iml
.env*
npm-debug.log
yarn-debug.log
yarn-error.log
*.js.map
pnpm-lock.yaml
yalc.lock
package-lock.json
out
forge-cache
lib
.yalc
pnpm-lock.yaml
yalc.lock
yarn.lock